

<main class="grid lg:grid-cols-2 place-items-center pb-8 md:pt-16 md:pb-24">
  <div class="flex flex-col p-5">
    <div class="gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800 pb-5">
        Voici une petite présentation de l'entreprise.
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Agrigaz est une SAS fondée en 2019 dans le but de produire du biogaz
        (méthane) à échelle industrielle en partenariat avec le Normandiz pet
        food et la chambre d'agriculture. L'entreprise récupère des déchets
        organique industriels provenant des fermes et de l'industrie agro
        alimentaire pour les valoriser en biogaz.
      </p>
    </div>
    <div class="flex h-9"></div>
    <div class="flex flex-row w-100 max-h-full">
      <div class="flex w-1/6"></div>
      <div class="flex w-4/6 justify-center">
        <iframe
          class="sticky aspect-video flex-auto"
          allowfullscreen="true"
          src="https://www.youtube.com/embed/GlVKPEuBby0"></iframe>
      </div>
    </div>

    <div class="flex w-1/6"></div>
  </div>
</main>
